body{
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
    max-width: 1280px;
    margin: 0 auto;
}

.carrossel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.informacoes {
    display: none;
}

.informacoes.ativa{
    display: block;
}

.conteudo{
    background-color: rgb(120, 61, 61);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.informacoes h1 {
    font-size: 35px;
    color: white;
    margin-bottom: 80px;
    font-family: "GOT";
}

@font-face {
    font-family: "GOT";
    src: url(../fontes/GOT.ttf);
}

.informacoes .descricao{
    width: 49%;
    font-size: 24px;
    color: white;
    line-height: 40px;
    height: 300px;
    overflow: auto;
    padding-right: 15px;
}

.botoes-carrossel{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoes-carrossel .botao{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: ;
}

.botoes-carrossel .botao.selecionado{
    background-color: #c83c0a;
}